﻿
@{
    ViewBag.Title = "Apply Units";
}

<script type="text/javascript">
    $(document).ready(function(){
        $("input[name='submit']").click(function() {
            return confirm('You are about to apply these units. Are you sure?');
        });
    });
</script>

@model yors.ViewModels.MenuViewModel

     
<h2>@ViewBag.Message</h2>
@if (ViewBag.YouSelect != null)
{
    <div> You Selected: @ViewBag.YouSelcted</div>
}

@using (Html.BeginForm())
{
<fieldset>
        <legend>Units selction</legend>
        
        <div class="row">
            <div class="col-md-4 editor-field">
                <label>Available</label><br/>
                @Html.ListBoxFor(i => i.Units, Model.Units)

            </div>
            <div class="col-md-4">
                <label>Requested</label><br />
                @Html.ListBoxFor(i => i.RequestList, Model.RequestList)
            </div>
            <div class="col-md-4 editor-field">
                <label>Confirmed</label><br />
                @Html.ListBoxFor(i => i.ConfirmedList, Model.ConfirmedList)
            </div>
        </div>
            <p>
                <input type="submit" value="Apply" />
            </p>
</fieldset>
}