﻿
@{
    ViewBag.Title = "UnitMenu";
}
@using yors.ViewModels
@model yors.ViewModels.MenuViewModel
@*@model IEnumerable<yors.ViewModels.MenuViewModel>*@
<h2>UnitMenu</h2>

@Html.DropDownListFor(i => i.ConfirmedList, Model.ConfirmedList, new MenuViewModel())
