﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - YORS</title>
    <link rel="icon" href="~/img/YORS Colored Letters Small.png" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

@*@model yors.ViewModels.MenuViewModel*@
@model IEnumerable<yors.ViewModels.MenuViewModel>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-logo"><div class="logo"><table><tr><td><a href="http://www.yors.ca/"><img src="@Url.Content("~/img/logo.png")" alt="Logo" /></a></td><td class="module"><h3>@ViewBag.Title</h3></td></tr></table></div></div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Reward System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year All rights Reserved - Youth Organization Reward Systems</p>
           @*@Html.Action("UnitMenu", "Units")*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
