﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Merit System: Earn Points for regular meeting attendance. Also points for attending special events and activities. Increase your points by planning in advance,
    attending activities and events, helping the organizers by volunteering as staff, and by being invovled.</p>
