﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Richmond, BC
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yors.richmond@gmail.com">yors.richmond@gmail.com</a><br />
    <strong>Sales:</strong> <a href="mailto:yors.richmond@gmail.com">yors.richmond@gmail.com</a>
</address>